name: tdt
channels:
  - rdkit
  - conda-forge
  - defaults
dependencies:
  - python=3
  - future
  - numpy
  - scipy
  - pandas
  - h5py
  - joblib
  - scikit-learn
  - cython
  - rdkit
  - argh
  - python-marisa-trie
  - tinyarray
  - natsort
  - feather-format
  - tqdm
  # so we can run sereina notebook
  - jupyter
  - matplotlib
  - pillow
  # so some plots are not ugly
  - cairo
  - cairosvg
  # diffing notebooks
  - nbdime
  # so we can run queries
  # - postgresql  # It should not be difficult to allow automated installation of Chembl xxxx.x
  - sqlalchemy
  - psycopg2
  # testing
  - pytest
  - pytest-cov
  - pytest-pep8
  - pip:
    - whatami
    - argh
    - "--editable=./submissions/santi-modern/src"  # weird syntax until https://github.com/conda/conda/pull/3969 is merged
    - "--editable=./"
    # - submissions/sereina  # will need to add setup.py / make packages; it is mostly a notebook anyway
